/* RESET : permet d'effacer le style par défaut imposé par le navigateur */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASSES FONCTIONELLES FLEX BOX */

/* rendre flexible un parent*/
.flex {
    display: flex;
    /* rend flexible les enfants*/
    flex-wrap: wrap;
    /* si les enfants ne rentre pas à côte à côte, tu les renvoies à la ligne */
}

.space-between {
    justify-content: space-between;
    /* créer un espace entre les enfants */
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

/* alignement horizontal */
.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}


/* alignement vertical */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* aligner horizontalement du texte (ou une image qui se comporte comme du texte)*/
.textCenter {
    text-align: center;
}


/* GAP */
.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12px;
}


.gap-24 {
    gap: 50px;
}

/* CLASSES DE DIMENSIONS (classes de largeur)*/

.w-15 {
    width: 15%;
}

.w-23 {
    width: 23%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-48 {
    width: 48%;
}

.w-73 {
    width: 73%;
}

.w-98 {
    width: 98%;
}


/* classes margin / padding pour aérer ma page */
.margin-top-5 {
    margin-top: 6px;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top:45px;
}

.margin-top-50 {
    margin-top: 50px;
}



.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}


.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}


.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}


.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-40 {
    padding: 40px;
}

.padding-50 {
    padding: 50px;
}


/* ------------------------------
----------- TEXTES --------------
------------------------------*/

/* supprimer les soulignements de mes liens */
a {
    text-decoration: none;
    color: black;
}

/* enlever les puces des listes à puces*/
header ul {
    list-style: none;
}

body {
    font-family: "Source Sans 3", sans-serif;
    overflow-x: hidden;
}


h1 {
    font-size: 60px;
    font-weight: 800;

}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 700;
}



/* pour mettre mon texte en gras */
.txtGras {
    font-weight: bold;
}


/* pour mettre mon texte en gras */
.txt700 {
    font-weight: 700;

}

/* pour mettre mon texte en italic */
.txtItalic {
    font-style: italic;
}

/* pour mettre mon texte en blanc */
.txtWhite {
    color: white;
}

/* classes background */
.bgmarron {
    background-color: #996830;
}

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bgBeige {
    background-color: #F2EDEA;

}

.bgFooter {
    background-color: #000;
    color: white;
}


/* CONTAINER */
.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* MES BOUTONS */

/* bouton "decouvrir la collection" */
.btn {
    background-color: #354733;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

/* bouton "en savoir plus" */
.btn2 {
    background-color: #354733;
    color: white;
    padding: 7px 15px;
    display: inline-block;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
}


/* bouton "Envoyer" footer */
.btn3 {
    background-color: white;
    color: #354733;
    padding: 15px 25px;
    border: none;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
}

/* bouton "Envoyer" footer */
.btn4 {
    background-color: #7843E9;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    color: white;
    padding: 15px 80px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;

}

/* bouton "Envoyer" footer */
.btn6 {
    background-color: #7843E9;
    ;
    color: white;
    padding: 15px 50px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}


/* bouton "Envoyer" footer */
.btn5 {
    background-color: #7843E9;
    ;
    color: white;
    padding: 10px 20px;
    display: inline-block;

    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

/* style de ma section Avantage client */
.bgGreen {
    background-color: #D2D0A0;
    color: #73946B;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: "Inria Sans", sans-serif;
}

/* style de mes cartes produits / services / retours clients */
.card {

    background-color: #F8F9FB;
    padding: 20px;
    /* l'ombre de mes card */
    box-shadow: 0px 6.475523948669434px 6px 0px rgba(41, 41, 41, 8%);
}

/* style de mes 3 icones phoshore-icon (section services) */
.icone {
    font-size: 50px;
}

/* color jaune pour mes étoiles */
.colorYellow {
    color: #F4B93D
}


/* MARQUEE */

/* Conteneur visible */
.flex-m {
    display: flex;
    width: max-content;
    overflow: hidden;
    flex-wrap: nowrap;
    animation: marquee 20s linear infinite;
    gap: 16px;
}

/* Chaque bloc */
.avantage {

    width: 100%;
}

/* Animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* style de mes images Retours Clients */
.imageProfil {
    border-radius: 50%;
}

/* Style de ma baseline */
.txtVert {
    color: #61865D;
}

/* Style de ma phrase d'accroche */
.txtVert2 {
    color: #808276;

    font-size: 15px;
}

/* style de mes prix */
.prix {
    font-size: 15px;
}

/* style de mes prix avant reduction */
.txtBarre {
    color: #AFB2AA;
    text-decoration-line: line-through;
}

/* mes polices */
.policeInter {
    font-family: "Inter", sans-serif;
}

.policeRaleway {
    font-family: "Raleway", sans-serif;
}

.policeLato {
    font-family: "Lato", sans-serif;
}

.policeEpilogue {
    font-family: "Epilogue", sans-serif;
}

/* padding pour aérer mes input dans mon formulaire de contact */
.paddingFormulaire {
    padding: 10px 150px 10px 10px;

}

/* paragraphe dans mon footer */
.pFooter {
    font-size: 13px;
    font-weight: 300;
}

.banner {

    height: 100vh;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.612)) center center, url(asset/bgHeader.svg);
    ;

}

.aPropos {
    background-color: #fafafa;
}

.paragraph {
    font-size: 22px;
    font-weight: 400;
}

.pFooter1 {

    font-size: 22px;
    font-weight: 700;
}

.pFooter2 {

    font-size: 15px;
    font-weight: 400;
}

.pFooter3 {

    font-size: 12px;
    font-weight: 400;
    padding: auto;
    margin: auto;
    margin-top: 40px;
}

.pNav {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.pHeader {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.pProjet {
    font-size: 20px;
    font-weight: 500;
    color: rgb(85, 85, 85);

}

.penSavoirPlus {
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102)
}


.liNav:hover {
    color: #7843E9;
}

.traitViolet {
    background-color: #7843E9;
    height: 3px;
    width: 25%;
}

/* style de mes cartes produits / services / retours clients */
.card2 {

    background-color: rgba(153, 153, 153, 0.2);
    color: #666;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

/*header{
        position: fixed;
            top: 0;
    left: 0;
    background-color: white;
}*/

.lien {
    text-decoration: underline;
    color: #7843E9;
    font-weight: 700;
}

.txtSourligne {

    text-decoration: underline;
    color: white;
}

.spanViolet {
    background-color: #7843E9;
    height: 5px;
    border-radius: 5px;
    width: 2rem;
    padding: auto;
    margin: auto;
    margin-top: 15px;
}

.spanGris{
 
    background-color: #444444;
    height: 1px;
    border-radius: 5px;
    width:100%;
    padding: auto;
    margin: auto;
    margin-top: 90px;
}
 

.ph-fill {
    font-size: 30px;
    color: white;
}